node_modules
dist
out
.DS_Store
.eslintcache
*.log*
.idea
.kiro
build
/download/
/plugin/
/plugins/
temp
temp/log.txt
/.kiro/
/.vscode/
/.codebuddy/
/.idea/
docs/.vitepress/dist
docs/.vitepress/cache
yarn.lock