@import './icon_font/iconfont.css';
:root {
  --play-bottom-height: max(min(10vh, 80px), 70px);
}
@font-face {
  font-family: 'lyricfont';
  src: url('./lyricfont.ttf');
}
/* 苹方-简 中粗体 */
@font-face {
  font-family: 'PingFangSC-Semibold';
  src: url('./PingFangSC-Semibold.woff2') format('woff2');
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

ul {
  list-style: none;
}

html {
  font-size: min(max(1.4vw, 15px), 18px);
}
#app {
  height: 100%;
  width: 100%;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

body {
  user-select: none;
  -webkit-user-drag: none;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  height: 100vh;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 全局滚动条样式 */
* {
  &::-webkit-scrollbar {
    width: 0.375rem;
  }

  &::-webkit-scrollbar-track {
    background: var(--td-scroll-track-color);
    border-radius: 0.1875rem;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--td-scrollbar-color);
    border-radius: 0.1875rem;
    transition: background-color 0.2s ease;

    &:hover {
      background: var(--td-scrollbar-hover-color);
    }
  }
  /* Firefox 滚动条样式 */
  scrollbar-width: thin;
  scrollbar-color: var(--td-scrollbar-color) var(--td-scroll-track-color);
}
.t-dialog__mask {
  backdrop-filter: blur(5px);
}
