::view-transition-old(*) {
  animation: none;
}

::view-transition-new(*) {
  animation: globalDark 0.5s ease-in;
}

@keyframes globalDark {
  from {
    clip-path: circle(0% at var(--darkX) var(--darkY));
  }

  to {
    clip-path: circle(100% at var(--darkX) var(--darkY));
  }
}

.dark img {
  filter: brightness(0.8);
}
